body {
    font-family: Arial, sans-serif;
}

#calculator {
    width: 400px;
    border: solid 4px black;
    border-radius: 8px;
    background-color: grey;
    font-size: 32px;
    margin: auto;
}

#display {
    background-color: skyblue;
    border-bottom: solid 2px black;
    height: 56px;
    padding: 8px;
    text-align: end;
}

#buttons {
    padding: 8px;
}

button {
    font-size: 28px;
    width: 88px;
    height: 48px;
    margin-bottom: 6px;
    border: solid 2px black;
    border-radius: 4px;
}


#operators {
    display: flex;
    flex-direction: column;
}



