#calculator {
    width: 240px;
    border: solid 3px black;
    border-radius: 8px;
    background-color: grey;
    font-size: 32px;
    margin: auto;
}

#display {
    background-color: skyblue;
    border-bottom: solid 2px blue;
    height: 40px;
}

#buttons {
    padding: 8px;
}

button {
    font-size: 28px;
    width: 48px;
    margin-bottom: 6px;
    border: solid 2px black;
    border-radius: 4px;
}


#operators {
    display: flex;
    flex-direction: column;
}



